# Fun With Movies

The Internet Movie DataBase (imdb) has lots of great information we can use to practice pandas.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Read in dataframe from .csv or .txt file

In [2]:
movies = pd.read_csv('datasets/imdb.txt')
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

## What does the dataframe look like? 

`shape` gives the number of rows and columns.

In [3]:
# check the number of rows and columns
print(movies.shape)
# check the data type of each column
movies.dtypes

(979, 6)

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

Now we can use the `mean()` function on any of the numerical columns.  Calculate and print out the average `duration` and `star_rating`. I've provided some sample code.

In [9]:
avg_duration = movies['duration'].mean()
print (avg_duration)
arating=movies['star_rating'].mean()

120.97957099080695

We can select parts of the data in different ways. For example, we can look only at movies with a longer-than-average duration.

Notice that we use the test  `movies['duration'] > avg_duration`  to select just the long ones.

In [8]:
long_movies = movies[movies['duration'] > avg_duration]

#how do these movies rate? 
lrating=long_movies['star_rating'].mean()

## TASK

Compare the mean rating of longer-than-average movies to the mean rating of shorter-than-average movies. In a comment, discuss whether longer movies get higher ratings.

In [11]:
rating = lrating > arating
print (rating)
#Longer movies have better rating than average movies

True

## TASK

Use regex to select movies that are sequels.  For simplicity, we will just look at movies with `Part` and/or `II` and/or `III` in the title. I'll get you started. 

In the last line, I show how to capture the ratings of just the movies that are sequels. Add these ratings to a list and call it `sequel_ratings`.

In [41]:
import re
title_series = movies['title']
sequel_ratings=list()
for title in title_series:
    if re.search('Part | I{2,5}',title):   #this regex isnt' quite right. Fix it!
        print(title)
        idx = movies[movies['title']==title].index[0]
        sequel_ratings.append(movies['star_rating'][idx])#index of the sequel
        print("rating is", movies['star_rating'][idx])
print ("ratings:", sequel_ratings)
sum=0
count=0
for num in sequel_ratings:
    sum=sum+num
    count+=1
sequel_avg=sum/count
print ("average sequel rating: ", sequel_avg)
print ("is average rating greater than sequal?", arating > sequel_avg)

The Godfather: Part II
rating is 9.1
Harry Potter and the Deathly Hallows: Part 2
rating is 8.1
Evil Dead II
rating is 7.8
Back to the Future Part II
rating is 7.8
Star Trek II: The Wrath of Khan
rating is 7.7
Harry Potter and the Deathly Hallows: Part 1
rating is 7.7
Star Wars: Episode III - Revenge of the Sith
rating is 7.7
The Godfather: Part III
rating is 7.6
Menace II Society
rating is 7.5
Clerks II
rating is 7.5
Back to the Future Part III
rating is 7.4
ratings: [9.1, 8.1, 7.8, 7.8, 7.7, 7.7, 7.7, 7.6, 7.5, 7.5, 7.4]
average sequel rating:  7.8090909090909095
is average rating greater than sequal? True

Clearly, there is a problem here. The movie `The Party` should not be included. Modify the regex search to exclude names like Party, but keep anything with Part. Also grab anything with a II or III. 

Once you see only sequels, and you are getting `Evil Dead II` and other titles with II/III in it, you are ready to calculate the average rating.  Using your list `sequel_ratings`, compute the average rating.  How do the ratings compare to the average rating for the entire dataset?

In [40]:
#How many sequels are there
print (count)

11